@charset "utf-8";

/* @ : '엣' 이라고 읽음 
 ctrl+alt+좌우방향키 
/* 부모에 dispaly:flex를 지정하면 
부모는 플렉스 컨테이너가 되고, 자식만 플렉스 아이템이 된다.
*/
/* 플렉스  컨테이너:width:auto;-> sidth:100% */

       /* alt+방향키 세션의 위아래  */

/* 플렉스 아이템 :width:auto;-> width:내용% */



.wrap4 {
    width: 1200px;
    margin: 0 auto;
  }
  .container {
    display: flex;
    background: yellow;
  }
  .header {
    width: 200px;
    background: #f00;
  }
  .right_wrap {
    width: 1000px;
  }
  .slide {
    height: 400px;
    background: #eee;
  }
  .banner {
    height: 200px;
    background: #999;
  }
  .notice {
    height: 250px;
    background: #555;
  }
  .footer {
    /* 16진수: #RRGGBB, #RGB */
    height: 100px;
    background: #111;
  }