@charset "utf-8";

.wrap4 {
    width: 1200px;
    margin: 0 auto;
  }
  .container {
    display: flex;
    background: yellow;
  }
  .header {
    width: 200px;
    background: #f00;
  }
  .right_wrap {
    width: 1000px;
  }
  .slide {
    height: 400px;
    background: #eee;
  }
  .banner {
    height: 200px;
    background: #999;
  }
  .notice {
    height: 250px;
    background: #555;
  }
  .footer {
    /* 16진수: #RRGGBB, #RGB */
    height: 100px;
    background: #111;
  }