@charset "utf-8";
* {box-sizing: border-box;}
html {margin: 0;}
h1,h2,h3,ul,p{margin: 0;list-style: none;
}
/* image{width: 100%;
    height: auto;
} */

ul {
    
    padding: 0;
  padding-left:0;
 
}

a {text-decoration: none;}
body{background: #fff;}
button{border:0;}
iframe{border:0;
    width: 100px;
    height: 100px;
}
