@charset "utf-8";
@import url('reset.css');
@import url('typo.css');
@import url('temp.css');
@import url('common.css');

html {
    /* 네비게이션의 버튼 클릭시 부드러운 움직임 */
    scroll-behavior: smooth;
}

/* 헤더 영역 */
header {
    /* position이 fixed나 absolute이면 width가 콘텐츠 크기 */
    position: fixed;
    z-index: 9999;
    /* position:fixed와 position:absolute는 
    width가 내용 크기로 지정된다 */
    width:100%;
    display: flex;
     /* flex-direction: row 이면 주축이 가로, 교차축은 세로 */
    /* flex-direction: column이면 주축이 세로, 교차축은 가로  */

     /* 주축정렬 */
    justify-content: space-between;
     /* 교차축정렬  */
       /* display: flex 써야 justiy-content/align-items세트로 움직인다.  */
    align-items: center;
    height:54px;
    padding: 0 30px;
     /* text-shadow: x위치 y위치 흐림 퍼짐 색, x위치y 위치 흐림 퍼짐 색,...; 
    */
    /* box-shadow: x위치 y위치 흐림 퍼짐 색; 
    */
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    
/* 슬라이드 내용 */
ul {
    margin: 0;
    padding: 0;
  padding-left:0;
  list-style: none;
}

/* 슬라이드 내용 */

        :html {
            --w: 1920px;
            --h: 400px; 
        }

        .slide {
          
            width: 500px;
            height: 150px;
            margin: 20px;
            overflow: hidden;
            /* 3장의 이미지가 하나만 보이게함  */
        }
        .slide ul {
            position: relative;
            display: flex;
            width: 400%;
            height: 100%;
            animation: slide 12s infinite;
        }
        .slide li {
            flex: 0 0 25%;
        }

        /* animation */
        
           
        
        @keyframes slide {
            0% {left: 0%;}
            10% {left: -100%;}
            33% {left: -100%;}
            43% {left: -200%;}
            66% {left: -200%;}
            76% {left: -300%;}
            99.99% {left: -300%;}
            100% {left: 0%;}
        }

        /* typo */
        .slide li {font-size: calc(var(--w) / 5); text-align: center; line-height: calc(var(--h) - 20px);}
        /* bg-color */
        .slide li:nth-child(1) {background: #d8d8d8;}
        .slide li:nth-child(2) {background: #acacac;}
        .slide li:nth-child(3) {background: #999999;}
        .slide li:nth-child(4) {background: #d8d8d8;}


    /* 섹션1 */
#sec1 {
    position: relative;
    padding-top: 54px;
}
#sec1 h2 {
    /* h2를 화면에 정중앙 (가로 /세로 )배치 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    letter-spacing: 4px;
   
}

#sec1 b {
    

    padding: 8px 16px;
    /* 스크린 화면 안에 이미지  h2  옆에 이미지 띄우기위해
     8px/16px  */
    margin-right: 16px;
}



}
nav ul {
    display: flex;
}
nav ul li {
    margin-left: 40px;
}


/* 섹션1,2,3,4 공통 */
section {
    /* 블록레벨요소를 가운데로 지정 */
    width: 1480px;
    margin: 0 auto;
    padding-top: 96px;
    /* 세로의 그림간격별 간격 96만큼 떨어짐  */
}

#sec1 div {

    height: 745px;

}

/* 섹션2,3 공통 */
section li {
    width: 355px;
}
/* li 요소 중엣 4의 배수 ( 4번째 ,8번째) 요소를 제외한 li 요소에 오른쪽 여백을 20px 지정  */
section li:not(:nth-of-type(4n)) {
    margin-right: 20px;
}


/* 섹션2 */
#sec2 h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    /* margin-top: 72px; */
    margin-bottom: 48px;
}

#sec2 ul {
    display: flex;
    /* flex-wrap은 줄마꿈 속성으로 기본값은 nowrap (줄바꿈 안함) */
    /* 줄바꿈 하기 위해서 wrap으로 지정  */
    /* 줄바꿈은 부모의 가로 크기를 자식이 벗어날 상태일때 줄바꿈된다. */
    flex-wrap: wrap;
}

#sec2 li {
    height: 240px;
    margin-bottom: 20px;
}

#sec2 h3 {
    position: absolute;
    background: #000;
    padding: 8px 24px;
}

#sec2 div {
    height: 400px;
    width: 300px;
    border: 1px solid red;
    
}
#sec2 img{
    height: 400px;
    width: 300px;
}

/* 섹션3 */
#sec3 h2 {
    border-bottom: 1px solid #111;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

#sec3>p {
    margin-bottom: 48px;
}

#sec3 ul {
    display: flex;
}

#sec3 div {
    height: 400px;
    width: 300px;
    border: 1px solid red;
    
}

#sec3 h3 {

    margin: 24px 0;
}

#sec3 li p {
    margin: 24px 0;
}

#sec3 a {
    position: absolute;
    background: #000;
    padding: 8px 24px;
    text-align: center;
   
}

/* 섹션4 */
#sec4 {
    padding-bottom: 8px;
}
#sec4 h2 {
    border-bottom: 1px solid #111;
    padding-bottom: 24px;
    margin-bottom: 24px;
}
#sec4 p {
    margin-bottom: 24px;
}
#sec4 input {
    display: block;
    width: 100%;
    height: 40px;
    margin: 16px 0;
    padding-left: 8px;
    border: 1px solid #ccc;
}
#sec4 button {
    margin: 16px 0 48px;
    padding: 12px 20px;
   
}

#sec4 .map {
    /* width: 1480px; */
    height: 845px;
   
}

/* 푸터 */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: 85px;
    /* padding: 30px 0; */
 background: #000;

}