@charset "utf-8";


   /* bg-color */
   .slide li:nth-child(1) {background: #d8d8d8;}
   .slide li:nth-child(2) {background: #acacac;}
   .slide li:nth-child(3) {background: #999999;}
   .slide li:nth-child(4) {background: #d8d8d8;}
/* bg-color */
header {background: #ccc;}
.s1 {background: #777;}
.s2 li {background: #ccc;}
h3 {background: #777;}
