@charset "utf-8";

/* 
    전체 선택자 : * (HTML에 쓴 모든 태그<head>부분 제외)

    
*/


/* body안의 모든 요소 
body * {outline: 1px solid lime;} 직접 변하는 모습을 보면서 작업하겠다. 
*/


/* * {outline: 1px solid lime;} */
/* html, body, nav, h1, h2, h3, main, section, div, header, footer */

/* reset (초기화) */
body, ul, h1, h2 
{
    margin: 0;
}

ul
{
    padding:0;
    list-style-type: none;
}

a{
    text-decoration: none;
    /* 링크 밑줄 제거 */

}



